.HomePayLater-Section1-bg1 {
  display: block;
}
.HomePayLater-Section1-bg2 {
  display: none;
}
.HomePayLater-S1-offer-banner {
  background-color: #d4004c; /* Background color */
  padding: 20px;
  border-radius: 20px;
  max-width: 840px;
  margin: 0 auto;
  color: white;
  font-family: Arial, sans-serif;
}

.HomePayLater-S1-banner-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.HomePayLater-S1-banner-title-image {
  width: 800px;
  height: auto;
  border-radius: 15px;
  margin-bottom: -80px;
  overflow: hidden;
}

.HomePayLater-S1-offer-content {
  padding: 20px;
  background-color: #e3065e; /* Slightly darker background for content */
  border-radius: 15px;
}

.HomePayLater-S1-offer-details {
  margin-bottom: 20px;
}

.HomePayLater-S1-offer-details h3 {
  color: #ffdc00; /* Yellow color for the heading */
}

.HomePayLater-S1-conditions,
.HomePayLater-S1-terms {
  margin-bottom: 20px;
}

.HomePayLater-S1-conditions li,
.HomePayLater-S1-terms p {
  margin: 5px 0;
  line-height: 1.5;
}

@media (max-width: 1000px) {
  .HomePayLater-Section1-bg2 {
    display: block;
  }
  .HomePayLater-Section1-bg1 {
    display: none;
  }
  .HomePayLater-S1-Container {
    width: 80vw;
    margin: auto;
  }
}
@media (max-width: 768px) {
  .HomePayLater-S1-Container {
    width: 100vw;
    margin: auto;
  }
}
