.ButtonTableCSS {
  color: black;
  padding: 5px 10px;
  width: max-content;
  text-align: center;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}
@media (max-width: 768px) {
  .ButtonTableCSS {
    padding: 5px 10px;
    width: max-content;
    font-size: 14px;
    font-weight: 500;
  }
}
