.OpenStore-Section1-Container {
  position: relative;
}

.OpenStore-Section1-bg1 {
  display: block;
  width: 100%;
}

.OpenStore-Section1-open-list {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  padding: 0;
  vertical-align: baseline;
  display: flex;
  justify-content: space-between; /* Điều chỉnh khoảng cách giữa các item */
  left: 50%;
  margin: auto auto 8vh auto;
  position: absolute;
  transform: translateX(-50%);
  top: 51vh;
  width: 60%;
  gap: 0; /* Loại bỏ khoảng cách giữa các phần tử */
}

.OpenStore-Section1-open-item {
  margin: 0; /* Đảm bảo không có margin dư thừa */
}

.OpenStore-Section1-open-item img {
  transition: all 0.2s ease-in-out;
  display: block; /* Loại bỏ khoảng trắng xung quanh ảnh */
  width: 100%; /* Đảm bảo ảnh bao phủ toàn bộ item */
  height: 100%;
}
/* .OpenStore-Section1-open-item img:hover {
  box-shadow: 0 4px 20px rgba(255, 215, 0, 0.8); 
} */
.OpenStore-Section1-open-item.x1 {
  width: 20%;
}

.OpenStore-Section1-open-item.x2 {
  width: 30.3%;
}

.OpenStore-Section1-open-item.x3 {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 2;
}
.OpenStore-Section1open-title {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  vertical-align: baseline;
  background-color: #fe0000;
  color: #fff;
  padding: 0px 0;
  display: flex;
  font-size: 16px;
  justify-content: space-around;
}
.OpenStore-Section1-video {
  display: flex;
  width: 80vw;
  margin: 20px auto;
  justify-content: space-around;
}
.OpenStore-Section1-video iframe {
  border-radius: "1.2rem";
}
.OpenStore-Section1-video-item {
  width: 595px;
  height: 315px;
}
.OpenStore-Section1-boxText {
  padding: 5px;
  width: 80vw;
  background-color: #fff;
  color: black;
  margin: auto auto auto auto;
  text-align: unset;
}
.OpenStore-Section1-boxTextTitle {
  padding: 20px 40px;
  width: 35%;
  margin-right: 10px;
  border-radius: 10px;
  font-size: 24px;
  font-weight: 700;
}
.OpenStore-Section1-boxTextImage {
  border-radius: 10px;
  width: 80vw;
}
@media (max-width: 1000px) {
  .OpenStore-Section1-video-item {
    width: 45vw;
    height: 30vw;
  }
  .OpenStore-Section1-open-list {
    top: 18.5vh;
  }
  .OpenStore-Section1-video {
    display: flex;
    width: 100vw;
    margin: 20px auto;
    justify-content: space-around;
  }
  .OpenStore-Section1-boxTextTitle {
    padding: 20px 30px;
    width: 40%;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
  }
  .OpenStore-Section1-boxTextImage {
    border-radius: 10px;
    width: 95vw;
  }
  .OpenStore-Section1-boxText {
    padding: 5px;
    width: 95vw;
  }
}
@media (max-width: 767px) {
  .OpenStore-Section1-video-item {
    width: 90vw;
    display: block;
    height: 50vw;
    margin: 20px auto;
  }
  .OpenStore-Section1-open-list {
    top: 14.6vh;
  }
  .OpenStore-Section1-video {
    display: block;
    width: 100vw;
    margin: 20px auto;
    justify-content: unset;
  }
  .OpenStore-Section1-boxTextTitle {
    padding: 10px 20px;
    width: 40%;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
  }
  .OpenStore-Section1-boxTextImage {
    border-radius: 10px;
    width: 95vw;
  }
  .OpenStore-Section1-boxText {
    padding: 5px;
    width: 95vw;
  }
  .OpenStore-Section1open-title {
    display: block;
  }
  .OpenStore-Section1open-title h4 {
    font-size: 16px;
    margin: 0px;
    padding: 5px;
  }
}
.open-bner {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  scrollbar-width: none;
  height: 100%;
  position: relative;
}
.open-bner-wr {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  scrollbar-width: none;
  inset: 0;
  position: absolute;
  z-index: -5;
}
.open-scroll {
  box-sizing: border-box;
  border: 0;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  scrollbar-width: none;
}
.container {
  height: 100%;
  margin: 0 auto;
  max-width: var(127rem);
  padding: 0 var(1.2rem);
  width: 100%;
}
@media screen and (max-width: 600px) {
  .open-list {
    width: 83.3333333333;
  }
}

.open-list {
  bottom: -2%;
  display: flex;
  left: 50%;
  margin: 0 auto;
  position: absolute;
  transform: translateX(-50%);
  width: 56.712962963%;
}
.open-item.x1 {
  width: 20%;
}
.open-item.x2 {
  width: 30.3%;
}
.open-item.x3 {
  height: 100%;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 35%;
  z-index: 2;
}
